<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benchmate">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bm_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bm_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.benchmate.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.benchmate.activity.Setup"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.benchmate.activity.Load" />
        <activity android:name="com.benchmate.activity.AddReagent" />
        <activity android:name="com.benchmate.activity.Plate" />
        <activity android:name="com.benchmate.activity.Reagents"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.benchmate.activity.Notes" />
        <activity android:name="com.benchmate.activity.Procedure" />
        <activity android:name="com.benchmate.activity.Settings" />
    </application>

</manifest>